# 1. Работа с брокером сообщений RabbitMQ (Асинхронный драйвер)
aio-pika

# 2. Работа с СУБД PostgreSQL и асинхронный драйвер
SQLAlchemy
asyncpg

# 3. Машинное обучение и математические вычисления
catboost==1.2.5
pandas==2.2.1
numpy